$class-prefix-countdown: 'czh-countdown';

.#{$class-prefix-countdown} {
    display: flex;
    align-items: center;
    font-size: var(--czh-font-size-m);

    &-item {
        display: flex;
        align-items: center;
        font-size: var(--czh-font-size-s);
    }
}