.demo-countdown-num {
    color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: var(--czh-color-primary);
    padding: 10px;
}

.demo-countdown-symbol {
    color: var(--czh-color-primary);
    height: 14px;
    margin: 0 2px;
    vertical-align: middle;
    display: inline-block;
}